.sales-page {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  max-width: 1440px;
}

.title-shares {
  margin-bottom: 8px;
  margin-top: 16px;
  font-weight: 800;
  font-size: 16px;
}

.tags {
  display: flex;
  align-items: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container p {
  margin-bottom: 10px;
}
